@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  font-family: Albert Sans;
  font-weight: 300;
  max-width: 100vw;

  ::-webkit-scrollbar {
    display: none !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
